html
head
    title #{info.name}
    meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css", rel="stylesheet")
body  
    div.container
        .card(style = "margin-top: 5%;")
            h3.card-header Tên: #{info.name}
            h3.card-header Tuổi: #{info.age}
            h3.card-header Giới tính: #{info.gender}